@model anipet.Controllers.PurchasesController.CreatePurchaseViewModel

@{
    ViewBag.Title = "Create Purchase";
}

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()

    <div class="box">
        <hr>
        <h2 class="intro-text text-center">
            <strong>Create</strong>
            <small>New Purchase</small>
        </h2>
        <hr>

        <div class="container  col-lg-6 col-lg-offset-3">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <div>
                    @Html.EditorFor(model => model.Purchase.PurchaseId, new { htmlAttributes = new { @placeholder = "Purchase Id", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Purchase.PurchaseId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div>
                    @Html.ListBoxFor(model => model.UserId, ViewBag.UsersList as MultiSelectList, new { @class = "form-control multiple", multiple = "multiple" })
                </div>
            </div>
            <div class="form-group">
                <div>
                    @Html.ListBoxFor(model => model.ProductIds, ViewBag.ProductList as MultiSelectList, new { @class = "form-control multiple", multiple = "multiple" })
                </div>
            </div>

            <div class="form-group">
                <div>
                    <div class="col-lg-offset-9 col-lg-1">
                        <input type="submit" value="Create" class="btn btn-light" />
                    </div>
                    <div class="col-lg-offset-1 col-lg-1" style="margin-top:6px">
                        <a href="/Purchases">Back</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}