@model IEnumerable<anipet.Models.Purchase>

@{
    anipet.Models.User currentUser = ((anipet.Models.User)Session["User"]);
    ViewBag.Title = "Purchases";
}

@Html.Partial("Navbar", "Purchases")

<div class="box purchases-container" >
    <hr>
    <div class="row d-flex justify-content-center">
        <h class="intro-text text-center col-md-2 col-md-offset-5" style="text-align:center;">
            <strong>Purchases List</strong>
        </h>
    </div>
    <div style="text-align:left;>
            @if (currentUser != null && currentUser.IsAdmin)
            {
                <aside class="text-right col-md-2 col-md-offset-2">
                    <i class="fa fa-home"></i>
                    @Html.ActionLink("Create New", "Create")
                </aside>
            }
    </div>
    <table class="table" style="margin-left: 140px; width: 90%;">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PurchaseId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PurchaseId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @if (currentUser != null && currentUser.IsAdmin)
                    {
                        <text>|</text>
                        <a href="/Purchases/Delete/@Html.DisplayFor(modelItem => item.Id)"><i class="fa fa-remove"></i></a>
                    }
                </td>
            </tr>
        }
    </table>
</div>