@model anipet.Models.Store

@{
                ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="box">
        <hr>
        <h2 class="intro-text text-center">
            <strong>Create</strong>
            <small>New Store</small>
        </h2>
        <hr>

        <div class="container  col-lg-6 col-lg-offset-3">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <div>
                    @Html.EditorFor(model => model.Store.City, new { htmlAttributes = new { @placeholder = "City", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Store.City, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div>
                    @Html.EditorFor(model => model.Store.StreetAddress, new { htmlAttributes = new { @placeholder = "StreetAddress", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Store.StreetAddress, "", new { @class = "text-danger" })
                </div>
            </div>

            <label>Products that this store has (can be none or multiple):</label>
            <div class="form-group">
                <div>
                    @Html.ListBoxFor(model => model.ProductIds, ViewBag.ProductList as MultiSelectList, new { @class = "form-control multiple", multiple = "multiple" })
                </div>
            </div>

            <div class="form-group">
                <div>
                    <div class="col-lg-offset-9 col-lg-1">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                    <div class="col-lg-offset-1 col-lg-1" style="margin-top:6px">
                        <a href="/Stores">Back</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
