@model anipet.Models.Store

@{
    anipet.Models.User currentUser = ((anipet.Models.User)Session["User"]);
    ViewBag.Title = "Store Details";
}

<div class="box stores-container">
    <hr>
    <h2 class="intro-text text-center">
        <strong>Store Details</strong>
    </h2>
    <div class="store-details">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.City)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.City)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.StreetAddress)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.StreetAddress)
            </dd>
            @if (currentUser != null && currentUser.IsAdmin)
            {
                <dt>
                    Store Manager
                </dt>
                <dd>
                    <a href="/Users/Details/@ViewBag.storeAdminId">@ViewBag.storeAdmin</a>
                </dd>
            }
            <dt>
                @Html.DisplayNameFor(model => model.Products)
            </dt>
            <dd>
                @if (ViewBag.storeProductList != null && ViewBag.storeProductList.Count > 0)
                {
                    <ul style="padding: 0; list-style-type: none;">
                        @{
                            foreach (var Product in ViewBag.storeProductList)
                            {
                                var str = Product.Name;

                                <li>
                                    <a href="/Products/Details/@Product.Id">@Html.DisplayFor(modelItem => str)</a>

                                </li>
                            }
                        }

                    </ul>
                }
                else
                {
                    <text>No Product</text>
                }
            </dd>

        </dl>
    </div>
    <p style="margin-left: 900px;">
        @if (currentUser != null && currentUser.IsAdmin)
        {
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
            <text>|</text>
        }
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>
