@model anipet.Models.Store

@{
    ViewBag.Title = "Edit Store";
}

<div class="box">
    <hr>
    <h2 class="intro-text text-center">
        <strong>Edit</strong>
        <small>Store</small>
    </h2>
    <hr>

    <div class="container  col-lg-6 col-lg-offset-3">
        @using (Html.BeginForm("Edit", "Stores", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Store.Id)
                @Html.HiddenFor(model => model.Store.StoreAdmin.Id)
                <label>Store city:</label>
                <div class="form-group">
                    <div>
                        @Html.EditorFor(model => model.Store.City, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Store.City, "", new { @class = "text-danger" })
                    </div>
                </div>
                <label>Store street address:</label>
                <div class="form-group">
                    <div>
                        @Html.EditorFor(model => model.Store.StreetAddress, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Store.StreetAddress, "", new { @class = "text-danger" })
                    </div>
                </div>
                <label>Product that this store has (can be none or multiple):</label>
                <div class="form-group">
                    <div>
                        @Html.ListBoxFor(model => model.ProductIds, ViewBag.ProductList as MultiSelectList, new { @class = "form-control", multiple = "multiple" })
                    </div>
                </div>

                <div class="form-group">
                    <div>
                        <div class="col-lg-offset-9 col-lg-1">
                            <input type="submit" value="Save" class="btn btn-light" />
                        </div>
                        <div class="col-lg-offset-1 col-lg-1" style="margin-top:6px">
                            <a href="/Stores">Back</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
    </div>
