@model anipet.Controllers.ProductsController.CreateProductsViewModel

@{
    ViewBag.Title = "Create Product";
}

<div class="box" style="flex-direction: column">
    <hr>
    <h2 class="intro-text text-center">
        <strong>Create</strong>
        <small>New Product</small>
    </h2>
    <hr>
    <div class="container  col-lg-6 col-lg-offset-3" style="margin-left:410px;">
        @using (Html.BeginForm("Create", "Products", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <div>
                        @Html.EditorFor(model => model.Product.Name, new { htmlAttributes = new { @placeholder = "Product Name", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Product.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        @Html.DropDownListFor(model => model.FoodSourceId, ViewBag.FoodSourceList as SelectList, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FoodSourceId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <label>Food Source weight in kilos:</label>
                <div class="form-group">
                    <div>
                        @Html.EditorFor(model => model.Product.ProductWeightInKilo, new { htmlAttributes = new { @class = "form-control", @Value = "0" } })
                        @Html.ValidationMessageFor(model => model.Product.ProductWeightInKilo, "", new { @class = "text-danger" })
                    </div>
                </div>
                <label>Stores that have that Product (can be none or multiple):</label>
                <div class="form-group" style="min-height: 170px">
                    <div>
                        @Html.ListBoxFor(model => model.StoresIds, ViewBag.storesList as MultiSelectList, new { @class = "form-control multiple", multiple = "multiple" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-offset-9 col-lg-1">
                            <input type="submit" value="Create" class="btn btn-light" />
                        </div>
                        <div class="col-lg-offset-1 col-lg-1" style="margin-top:6px; margin-left:185px;">
                            <a href="/Products">Back</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>