@model anipet.Models.Product
@{
    anipet.Models.User currentUser = (anipet.Models.User)Session["User"];
}
@{
    ViewBag.Title = "Details";
}

<div class="box" style="flex-direction: column">
    <hr>
    <h2 class="intro-text text-center">
        <strong>Product</strong>
        <small>details</small>
    </h2>
    <hr>
    <div class="fabric-details">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ProductWeightInKilo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProductWeightInKilo)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.FoodSource.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FoodSource.Name)
            </dd>
            <dt>
                Price
            </dt>

            <dd>
                @{
                    var price = Model.FoodSource.SourcePricePerKilo * Model.ProductWeightInKilo;
                    @Html.DisplayFor(modelItem => price)
                }
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Stores)
            </dt>
            <dd>
                @if (ViewBag.FabricStoreList != null && ViewBag.FabricStoreList.Count > 0)
                {
                    <ul style="padding: 0; list-style-type: none;">
                        @{
                            foreach (var store in ViewBag.ProductStoreList)
                            {
                                var str = store.City + ", " + store.StreetAddress;

                                <li>
                                    <a href="/Stores/Details/@store.Id">@Html.DisplayFor(modelItem => str)</a>

                                </li>
                            }
                        }

                    </ul>
                }
                else
                {
                    <text>No Stores</text>
                }
            </dd>

        </dl>
    </div>
    <p style="margin-left: 900px;">
        @if (currentUser != null && currentUser.IsAdmin)
        {
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
            <text>|</text>
        }
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>
