@{
    anipet.Models.User currentUser = (anipet.Models.User)Session["User"];
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Anipet - @ViewBag.Title</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="https://fonts.googleapis.com/css?family=Assistant:300,400,600,700,800" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="~/Scripts/jquery-1.10.2.js"></script>
</head>
<body>

    <header class="navbar flex-column flex-md-row" style="height: 10px;">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Anipet</a>
        </div>

        <div class="row">

            <div id="temperatureDiv" class="col-lg-6 text-center">
                <h4>
                    Weather in Rishon Lezion
                </h4>
                <p style="color:white">Achieving the weather, just a second.</p>
            </div>

            <script src="~/Scripts/jquery-3.4.1.js"></script>
            <script src="~/Scripts/getWeather.js"></script>

        </div>

    </header>

    <div class="brand d-flex justify-content-end" style="padding-top:0;">
        <img src="~/Content/Images/anipet-logo.png" class="logo" alt="">
    </div>

    <div class="container body-content">
        @RenderBody()

        <footer>
            <div class="col-lg-12">
                <p>@DateTime.Now.Year - Anipet</p>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        $(document).ready(function () {
            $('.carousel').carousel({
                interval: 4000 // changes the speed
            })

            $(".ul li").on("click", function () {
                $(this).siblings().removeClass('active');
                $(this).addClass("active");
            });

            $(window).scroll(function () {
                if ($(window).scrollTop() > 286) {
                    $('#MainNav').addClass('navbar-fixed-top');
                }
                if ($(window).scrollTop() < 287) {
                    $('#MainNav').removeClass('navbar-fixed-top');
                }
            });
        });
    </script>
</body>
</html>
