@model anipet.Models.User

@{
    ViewBag.Title = "User Details";
}

<div class="box">
    <hr>
    <h2 class="intro-text text-center">
        <strong>User</strong>
        <small>details</small>
    </h2>
    <hr>

    <div style="margin-left:400px">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Username)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Username)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Password)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Password)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsAdmin)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsAdmin)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Stores)
            </dt>
            <dd>
                @if (ViewBag.userStoreList != null && ViewBag.userStoreList.Count > 0)
                {
                    <ul style="padding: 0; list-style-type: none;">
                        @{
                            foreach (var store in ViewBag.userStoreList)
                            {
                                var str = store.City + ", " + store.StreetAddress;

                                <li>
                                    <a href="/Stores/Details/@store.Id">@Html.DisplayFor(modelItem => str)</a>

                                </li>
                            }
                        }

                    </ul>
                }
                else
                {
                    <text>No stores</text>
                }
            </dd>
        </dl>
    </div>
    <p style="margin-left: 900px;">
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>
